<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here's a Puppy!</title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <%= @params[:name] %>
    <p>Puppy Age:</p>
    <%= @params[:age] %>
    <p>Puppy Breed:</p>
    <%= @params[:breed] %>
  </body>
</html>
